@charset "UTF-8";
/* RESET */
/* ----------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
	background-color: #000000;
}
body {
	line-height: 1;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}



/* LAYOUT */
/* ----------------------------------------- */

body {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color: #e1e0db;
	background-image: url(https://img1.goodfon.ru/wallpaper/big/7/41/belyy-kirpich-stena-iz-kirpicha.jpg);
	background-repeat: repeat;
	font-size:13px;
	line-height: 17px;
	color:#ffffff;
}

.contact {
	background-image: none;
	background-color:#e9e9e9;
}

a, a:visited, a:active {
	color:#bc6b2d;
	text-decoration: none;
}

a:hover {
	color:#ab7979;
	text-decoration: underline;
}

/* DOSSIER BACKGROUND */
/* ----------------------------------------- */

#wrapper {
	width:969px;
	margin:0 auto;
	margin-top:60px;
	margin-bottom:100px;
}

.wrapper-top {
	width:969px;
	height:19px;
	margin:0 auto;
	background-image:url(../images/btop.jpg);
	background-repeat:no-repeat;
}

.wrapper-mid {
	width:969px;
	margin:0 auto;
	background-image:url(../images/bmid.jpg);
	background-repeat: repeat-y;
	padding-bottom:40px;
}

.wrapper-bottom {
	width:969px;
	height:22px;
	padding:0;
	margin:0 auto;
	background-image:url(../images/bbottom.jpg);
	background-repeat:no-repeat;
}

/* PAPER BACKGROUND */
/* ----------------------------------------- */

#paper {
	width:828px;
	margin:0 auto;
}

.paper-top {
	width:828px;
	margin:0 auto;
	background-image: url(https://i2.rozetka.ua/goods/1834650/13538723_images_1834650204.jpg);
	background-repeat:no-repeat;
	height:126px;
}

#paper-mid {
	width:828px;
	margin:0 auto;
	background-image:url(../images/pmid.jpg);
	background-repeat:repeat-y;
	display:block;
	padding:0;
	overflow: hidden;
	padding-bottom:75px;
	padding-top:7px;
}

.paper-bottom {
	width:828px;
	height:18px;
	margin:0 auto;
	background-image:url(../images/pbottom.jpg);
	background-repeat:no-repeat;
}

/* ENTRIES */
/* ----------------------------------------- */

.entry {
	width:720px;
	display: block;
	padding-top:55px;
	clear: both;
	margin-left:4px;
}

h1  {
	width:250px;
	font-size:35px;
	color:#803a3a;
	margin-bottom:3px;
	clear:both;
}

h1 span {
	font-size:21px;
	display:block;
	color:#803a3a;
	margin-top:-5px;
}

h2 {
	width:180px;
	height: 23px;
	text-align: right;
	float:left;
	padding:0;
	margin:0;
	clear:both;
	font-size:22px;
	color:#803a3a;
	margin-bottom:-12px;
}

p {
	width:500px;
	margin-left:40px;
	float:right;	
}

p img {
	float:right;
	margin-left:20px;
	padding-left:10px;
}

div.content {
	clear: both;
	padding:0;
	margin:0;
	overflow: hidden;
	display:block;
	padding-top:32px;
}

h3 {
	width:180px;
	text-align: right;
	float:left;
	padding:0;
	clear:both;
	font-size: 13px;
	color:#ab7979;
}

h4 {
	width:180px;
	text-align: right;
	float:left;
	padding:0;
	clear:both;
	font-size: 11px;
	color:#ab7979;
}

h5 {
	width:180px;
	text-align: right;
	float:left;
	padding:0;
	clear:both;
	font-size: 10px;
	color:#ab7979;
}

h6 {
	width:180px;
	text-align: right;
	float:left;
	padding:0;
	clear:both;
	font-size: 9px;
	color:#ab7979;
}

em {
	font-family: Georgia, "Times New Roman", serif;
	font-style: italic;
	color:#777777;
	font-size:12px;
	display: block;
	padding-top:3px;
}


ol {
	float:right;
	width:500px;
	margin-left:40px;
	list-style: decimal;
	
}

ol li {
	width:500px;
	list-style-type: decimal;
	list-style-position: inside;
}

dl {
	float:right;
	width:500px;
	margin-left:40px;
	
}

dt {
	float:left;
	display: block;
	width:500px;
		color:#ab7979;
}

dd {
	float:left;
	display: block;
	width:480px;
	text-indent:20px;
}

ul.unordered {
	float:right;
	width:500px;
	margin-left:40px;
	
}

ul.unordered li {
	margin:0;
	padding:0;
	float:left;
	display: block;
	width:500px;
	background-image:url(../images/bullet.gif);
	background-repeat: no-repeat;
	padding-left:10px;
	background-position: 0 .5em;
	margin-top:0;
}

ul.info {
	float:right;
	width:500px;
	margin-left:40px;
	list-style-type: none; 
}

ul.info li {
	margin:0;
	padding:0;
	float:left;
	display: block;
	width:500px;
	background-image:url(../images/bullet.gif);
	background-repeat: no-repeat;
	padding-left:10px;
	background-position: 0 .5em;
	margin-top:12px;
}

ul.skills {
	margin:0;
	padding:0;
	float:right;
	width:500px;
	margin-left:40px;
	margin-top:-6px;
	list-style-type: none;
	
}

ul.skills li {
	margin:0;
	padding:0;
	float:left;
	width:156px;
	background-repeat: no-repeat;
	padding-left:10px;
	background-position: 0 .5em;
	margin-top:6px;
}

ul.works {
	margin:0;
	padding:0;
	float:right;
	width:500px;
	margin-left:40px;
	list-style-type: none;
}

ul.works li {
	margin:0;
	padding:0;
	float:left;
}

ul.works li img {
	padding:4px;
	background-color:#fff;
	width:95px;
	height:95px;
	border:1px solid #d5bcbc;
	margin-right:20px;
	margin-bottom:16px;
}

ul.works li img:hover {
	border:1px solid #803a3a;
	cursor: pointer;

}

img.portrait {
	width:170px;
	height:180px;
	padding-top:20px;
	padding-left:11px;
	padding-right:11px;
	padding-bottom:36px;
	margin-left:50px;
	float:left;
	cursor: pointer;
}
#image img:hover {
	cursor: pointer;
}


/* SELF INFORMATION */
/* ----------------------------------------- */

.self {
	width:250px;
	float:left;
	padding-top:11px;
	margin-left:38px;
	margin-bottom:20px;
}

.self ul {
	padding-top: 10px;
}

.self ul li.ad {
	background-image:url(../images/icn-ad.gif);
}

.self ul li.mail {
	background-image:url(../images/icn-mail.gif);
}

.self ul li.tel {
	background-image:url(../images/icn-tel.gif);
}

.self ul li.web {
	background-image:url(../images/icn-web.gif);
}

.self ul li {
	background-repeat: no-repeat;
	padding-left:26px;
	background-position: 0 .1em;
	height:25px;
	display:block;
	margin-top:-2px;
}

/* SOCIAL ICONS */
/* ----------------------------------------- */

.social {
	width:30px;
	float:right;
	padding-top:20px;
	display: inline;
	display:inline-block;


}

.social ul {
	list-style: none;
}

.social ul li img{
	float:center;

	width:40px;
	height:40px;
	margin:1;
	padding:0;
	margin-left:6px;
}
.top img{
	width:60px;
	height:60px;
	margin:1;
	padding:0;
	margin-left:6px;
	float:center;
}
/*@media (min-width: 800px) {
	html {
		width: 80%;
		margin-right: 10%;
		float: left; 
	}}
	@media (max-width: 799px) {
	html {
		width: 90%;
		margin-right: 5%;
		float: left; 
	}}
